		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u">
							<section>
								<header>
									<h2>The Blog</h2> <!-- This header used to say "Blandit nisl adipiscing"</header>-->
								</header>
								<ul class="dates">
								{% for post in site.posts offset: 0 limit: 3 %}
									<li>
										<span class="date">{{ post.date | date: "%b"}} <strong>{{ post.date | date: "%d"}}</strong></span>
										<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
										{{ post.excerpt }}
									</li>
								{% endfor %}
								</ul>
							</section>
						</div>


						<div class="4u">
							<section>
								<header>
									<h2>Social:</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
									<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
								</ul>
								<ul class="contact">
									<li>
										<h3>Mail</h3>
										<p><a href="#">taobeixi@gmail.com</a></p>
									</li>
									<li>
										<h3>Phone</h3>
										<p>(800) 000-0000</p>
									</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
										<li>&copy; Bessie Tao. All rights reserved.</li>
								</div>

						</div>
					</div>
				</section>
			</div>

	</body>
</html>
