<!-- Header -->
<div id="header-wrapper">
         <div id="header">

<!-- Logo -->
         <h1><a href="index.html">B e s s i e     T a o</a></h1>

<!-- Nav -->
<nav id="nav">
         <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="{{site.baseurl}}/posts.html">Blog</a></li>
                <li><a href="{{site.baseurl}}/features.htm">Specialties</a></li>
                <li><a href="#">Subscribe</a></li>
         </ul>
</nav>

<!-- Banner -->
<section id="banner">
         <header>
                  <h2>Hello. This is my portfolio.</h2>
         </header>
</section>

<!-- Features section removed -->

</div>
</div>
